/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=PT+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Garamond', sans-serif;
}
:root{
    /* ===== Colors ===== */
    --body-color:  #c19a6b;
    /* --sidebar-color:#deb887; */
    --sidebar-color: #d2b48c;
    --primary-color: #965a3e;
    --primary-color-light: #ba8759;
    --toggle-color: #DDD;
    --text-color: #707070;
    --btn-hover-color:#644117;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;


    --first-color: #704214;
    --input-color: #80868B;
    --border-color: #DADCE0;


    /*===== Fonts =====*/
    --body-font: 'Garamond', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .75rem;
}

*::-webkit-scrollbar-thumb{
    background-color: brown;
 }

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}
a{
    list-style: none;
    text-decoration: none;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color:#965a3e;
    --primary-color-light:#3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}


/*dark mode of every container*/
body.dark .container{
    background-color: var(--sidebar-color) 
}
/*dark mode of every text outputs*/
body.dark p,
body.dark h1, 
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6,
body.dark span,
body.dark tr{
    color: var(--text-color);
}


/*line of codes that will format every class with a name of title */
.title{
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: left;
    background-color: var(--primary-color-light);
    width: 100%;
    border-radius: 6px;
    padding: 5px 8px;
}


/*codes for all button*/
.button-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
 }
.btn{
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color: var(--first-color);
    color: black;
    font-size: var(--normal-font-size);
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
}
.btn:hover{
    background-color: var(--btn-hover-color);
}


/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 222px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}


/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
/*    min-width: 60px;*/
/*    border-radius: 6px;*/
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.sidebar .text{
    color: black;
    transition: var(--tran-03);
}
.sidebar .icon{
    color: black;
    transition: var(--tran-03);
}
.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */


.sidebar header{
    position: relative;
}
.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 28px;
    font-weight: 600;
}
header .image-text .name_two {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}
header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}
.sidebar header .image img{
    width: 50px;
    border-radius: 6px;
}
.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}


body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}
.sidebar .menu{
    margin-top: 40px;
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}
.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li.active {
    background-color: var(--primary-color);
    border-radius: 6px;
}
.sidebar li.active .text {
    color: white;
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

body.dark .sidebar .icon,
body.dark .sidebar .text,
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--primary-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    left: 210px;    
    height: fit-content;
    width: calc(100% - 210px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}
.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}


/*working with tabs*/
[data-tab-content]{
    display: none;
}
.active[data-tab-content]{
    display: block;
    max-height: 100vh;
    height: 100vh;
    padding: 20px 30px;
}
.tabs{
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.tab{
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.tab.active .icon{
    color: white;
    border-radius: 6px;
}
/*------------------*/



/*=====nobela page=====*/
#nobela{
    display: none;
}
.active#nobela{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nobela_form{
    width: 100%;
    height: fit-content;
    display: grid;
    padding: 20px;
    background-color:var(--sidebar-color);
    border-radius: 10px;
    border-left: 5px solid var(--primary-color);
}
.nobela_box_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 10px;
    padding: 10px;
}
.nobela_card{
    background-color:var(--sidebar-color) ;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.nobela_card:hover, body.dark .nobela_card:hover{
    background-color: var(--primary-color-light);
}
body.dark .nobela_card{
    background-color: var(--body-color);
}
.nobela_profile_img{
    border-radius: 5%;
    width: 140px;
    margin-bottom: 10px;
    margin-top: 10px;
}
/*------------------*/


/*=====katanungan page=====*/
.katanungan_container{
    width: 101%;
    height: fit-content;
    padding: 20px;
    background-color: var(--sidebar-color);
    border-radius: 10px;
    border-left: 5px solid var(--primary-color);
    box-shadow: rgba(0, 0, 0, .1) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.katanungan_container p{
    font-size: 20px;
}
.katanungan_second_container{
    width: 100%;
    background-color: var(--sidebar-color);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 20px;
    text-align: justify;
}
body.dark .katanungan_title,      
body.dark .katanungan_second_container{
    background-color: var(--body-color);
}
/*------------------*/


/*=====Stanza design=====*/
.novel-container{
    width:100%;
    margin: 0 auto;
    background-color:var(--sidebar-color);
    text-align:center 
}
.text-container{
    display:flex;
    align-items:center;
    justify-content:center;
}
.novel-text{
    width:fit-content;
    text-align:left; 
    background-color:var(--sidebar-color);
}
body.dark .novel-container,
body.dark .novel-text{
    background-color: var(--body-color);
}
/*------------------*/


/*=====Arrow design=====*/
.arrow-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*.bx-arrow-back{
    font-size: 30px;
    color:var(--primary-color);
    left: 20%;
}*/
.bx-chevron-right{
    /* position: relative; */
    font-size: 30px;
    color:var(--primary-color);
}
.bx-chevron-left{
    font-size: 30px;
    color:var(--primary-color);
}
/*------------------*/


/*=====Pictures design=====*/
.small_profile_img{
    width: 30px;
    border-radius: 50%;
    margin-left: 15px;
}
.small_img{
    width: 30px;
    border-radius: 10%;
    margin-left: 15px;
}
.kabanata_pics{
    border-radius: 2%;
    width: 500px;
    margin-bottom: 10px;
    margin-top: 10px;
}    
.talambuhay-container{
    /*display: flex;*/
    align-items: center;
    justify-content: space-between;
}    
.talambuhay_img{
    width: 25%;
}
/*------------------*/

.aboutus_copyright{ 
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    margin-top: 10px;
}